.contact-grid {
  justify-content: center;
  
}

.fotoPerfil {
  text-align: center;
}

.fotoPerfil img{
  text-align: center; 
  background-color: brown;
  width: 40%;

}
.contact-grid h2 {
  font-family: 'Anton', sans-serif;
  color: rgb(15, 9, 70);
  text-align: center;
}

.contact-grid p {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 180%;
  color: rgb(15, 9, 70);
  font-weight: bold;
  width: 75%;
  margin-top:5%;
  margin-left: 10%;
  padding-top: 1%
}



.contact-grid hr {
  border-top: 10% dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 240%;
  padding-right: 5rem;
}

.contact-grid img {
  height: 30%;
}

.iconos{
  color: rgb(11, 11, 146);
  font-size: 120%;
  font-family: 'Anton';
  content: center
}


/*contct*/

@media (min-width: 320px) and (max-width: 500px) {
  .contact-grid p {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 100%;
    color: rgb(15, 9, 70);
    font-weight: bold;
    width: 75%;
    margin-top:5%;
    margin-left: 15%;
    margin-right: 20%;
    padding-top: 1%
  }
  
.contact-grid h2 {
  font-family: 'Anton', sans-serif;
  font-size: 225%;
  color: rgb(15, 9, 70);
  text-align: center;
}

.contact-list i {
  font-size: 140%;
  padding-right: 1rem;
}
}

