.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  background: url('./img/nebulosas/hermosa.gif');
  color: whitesmoke;
  margin-bottom: 20%; 
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right:  5rem;
}

.contact-grid img {
  width: 10%;
  height: 10%;
}
/*contct*/